body {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("josefondoweb.png");*/
    display: inline-block;
    vertical-align: middle;
    background-color : white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (orientation: portrait) {
    body{
        background-size: auto 100%;
        background-position: 60% 50%;
    }
    #homeArticle{
        margin: 2%;
    }
    #homeArticle .sectionBlock{
        width: 70%;
    }
    #homeArticle h1{
        font-size: 100px;
    }
    #homeArticle h3{
        font-size: 30px;
        line-height: 1.1;
    }
    #homeArticle span{
        font-size: 12px;
    }
    #homeArticle .bolder{
        font-size: 30px;
    }
}

@media only screen and (orientation: landscape) {
    body{
        background-size: auto;
        background-position: 50% 50%;
    }
    #homeArticle{
        margin: 0;
    }
    #homeArticle .sectionBlock{
        width: 60%;
    }
    #homeArticle h1{
        font-size: 150px;
    }
    #homeArticle h3{
        font-size: 50px;
        line-height: 1.2;
    }
    #homeArticle span{
        font-size: 15px;
    }
    #homeArticle .bolder{
        font-size: 50px;
    }
}

.pagesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-top: 8%;
}

article {

    padding: 0;
    margin: 0;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

/*---------------------------------------------------------*/
#contactArticle {
    color: rgb(200, 200, 200);
}
#homeArticle{
    position: fixed;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#homeArticle h3{
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}
#homeArticle span{
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}
#homeArticle .bolder{
    font-family: 'Barlow', sans-serif;
    color: rgb(25, 25, 25);
}


/*-------------------------------------------------------*/
.sectionBlock {
    margin-bottom: 40px;
}

.iFrameContainerInSection {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.textContainerInSection {
    margin-bottom: 20px;
}

.imgContainerInSection {
    margin-bottom: 20px;

}

article h1 {
    font-size: 80px;
    font-family: 'Barlow', sans-serif;
}

article p {
    font-size: 16px;
    line-height: 1.5;
    text-indent: 10px;
    padding: 0;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify;
}

article img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}