body {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("josefondoweb.png");
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (orientation: portrait) {
    body {
        background-size: auto 100%;
        background-position: 60% 50%;
    }
    #homeArticle {
        justify-content: flex-start;
    }
    #homeArticle .sectionBlock {
        padding-top: 20px;
        width: 70%;
    }
    #homeArticle h1 {
        font-size: 100px;
    }
    #homeArticle h3 {
        font-size: 25px;
        line-height: 1.1;
    }
    #homeArticle span {
        font-size: 12px;
    }
    #homeArticle .bolder {
        font-size: 30px;
    }
    article {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    #contactArticle {
        height: 550px;
    }
    #contactArticle h1 {
        padding-top: 20px;
        font-size: 60px;
    }
    #contactArticle h2 {
        padding: 0;
    }
    #contactArticle p {
       
        padding: 0;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-size: auto;
        background-position: 50% 50%;
    }
    #homeArticle {
        justify-content: center;
    }
    #homeArticle .sectionBlock {
        width: 60%;
    }
    #homeArticle h1 {
        font-size: 150px;
    }
    #homeArticle h3 {
        font-size: 50px;
        line-height: 1.2;
    }
    #homeArticle span {
        font-size: 15px;
    }
    #homeArticle .bolder {
        font-size: 50px;
    }
    article {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #contactArticle {
        height: 100%;
    }
}

.pagesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-top: 8%;
}

article {
    max-width: 1000px;
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(25, 25, 25);
}
#aboutArticle{
    max-width: 700px;
}
/*---------------------------------------------------------*/

#contactArticle {
    color: rgb(200, 200, 200);
}

#homeArticle {
    min-height: 500px;
    /*align-content: center;*/
    align-items: flex-start;
    color: rgb(25, 25, 25);
}

#homeArticle h3 {
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    color: rgb(50, 50, 50);
}

#homeArticle span {
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
}

#homeArticle .bolder {
    font-family: 'Barlow', sans-serif;
}

/*-------------------------------------------------------*/


#contactArticle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactArticle p {
    text-align: center;
    font-size: 18px;
}

/*--------------------------------*/

.sectionBlock {
    margin-bottom: 40px;

}

article h1 {
    font-size: 80px;
    font-family: 'Barlow', sans-serif;
}

article h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
}

article h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    color: rgb(150, 150, 150);
}

article p {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify;
}

article img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}