body {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dpnemhlg6/image/upload/v1549234041/fondo-josedavid_dv6hqd.png");
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (orientation: portrait) {
    body {
        background-size: auto 100%;
        background-position: 60% 50%;
    }

    #homeArticle {
        justify-content: flex-start;
    }

    #home-message {
        max-width: 70%;
        margin-left: 10px;
        padding-top: 20px;
    }

    #homeArticle h1 {
        text-align: left;
        font-size: 100px;
    }

    #homeArticle h3 {
        font-size: 25px;
        line-height: 1.1;
    }

    #homeArticle span {
        font-size: 12px;
    }

    #homeArticle .bolder {
        font-size: 30px;
    }

    #instaGrid-Holder {
        display: none;
        width: 100%;
    }

    #aboutArticle {
        max-width: 100%;
    }

    article {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #contactArticle {
        height: 50px;
    }

    #contactArticle h1 {
        padding-top: 20px;
        font-size: 60px;
    }

    #contactArticle h2 {
        padding: 0;
    }

    #contactArticle p {
        padding: 0;
    }
    #thanks-photo {
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-size: auto;
        background-position: 50% 50%;
    }

    #homeArticle {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #home-message {
        margin-top: 100px;
        max-width: 600px;
        margin-left: 300px;
    }

    #homeArticle h1 {
        text-align: left;
        font-size: 150px;
    }

    #homeArticle h3 {
        font-size: 40px;
        line-height: 1.2;
    }

    #homeArticle span {
        font-size: 15px;
    }

    #homeArticle .bolder {
        font-size: 50px;
    }

    #instaGrid-Holder {
        width: 1000px;
        display: flex;
    }

    #aboutArticle {
        max-width: 1400px;
    }
    #thanks-photo {
        display: block;
    }
}

.pagesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-top: 8%;
}

article {
    /*width:100%;
    max-width: 1000px;*/
    /*padding-bottom: 100px;*/
    /*height: 100%;*/
    /*display: flex;
    flex-direction: column;*/
    color: rgb(25, 25, 25);
}

/*---------------------------------------------------------*/

#email-contact {
    color: rgb(250, 250, 250);
}

#homeArticle {
    min-height: 500px;
    /*align-content: center;*/
    align-items: flex-start;
    color: rgb(25, 25, 25);
    height: 600px;
}

#home-message {
    display: flex;
    flex-direction: column;
}

#homeArticle h3 {
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    color: rgb(25, 25, 25);
}

#homeArticle span {
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
}

#homeArticle .bolder {
    font-family: 'Barlow', sans-serif;
}

/*--------------------------------- About ----------------------*/
.sectionBlock {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.text-inside-sectionBlock {
    width: 700px;
}

#rights {
    margin: 100px;
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 14px;
}

/*-------------*/

#about-jose-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#about-jose-photo img {
    width: 100%;
    height: 100%;
    max-width: 424px;
    max-height: 500px;
}

#aboutArticle {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#instaGrid-Holder {
    justify-content: center;
    margin-bottom: 20px;
}

#insta-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#insta-grid img {
    border-radius: 0px;
    margin: 5px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    max-height: 250px;
}

/*-------------------------------------------------------*/

#contactArticle {
    position: absolute;
    background: transparent;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
}

.thankYouBlock {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

#thanks-photo {
    margin-bottom: 20px;
}

#thanks-photo img {
    width: 300px;
    height: 300px;
}

#contactArticle p {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

/*--------------------------------*/

article h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

article h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
}

article h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    color: rgb(150, 150, 150);
}

article p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify;
}

article img {
    padding: 0;
    margin: 0;
}

/*------------------------------------- Portfolio page */

.projects-sectionBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-trigger {

    border-radius: 10px;
    background: transparent;
    width: 238px;
    height: 398px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    overflow: visible;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.project-trigger img {
    opacity: 1;
    top: -42px;
    left: -57px;
    position: relative;
    width: 350px;
}

.project-trigger:hover {
    top: 20px;
    box-shadow: 0px 0px 30px rgb(80, 80, 100);
}