@media only screen and (orientation: portrait) {
    #project-coverPage {
        height: 600px;
    }
    #project-title {
        width: 100%;
        padding-left: 20px;
    }
    #project-header {
        width: 100%;
    }
    #project-tools-list {
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    #project-coverPage {
        height: 800px;
    }
    #project-title {
        width: 100%;
        padding-left: 150px;
    }
    #project-header {
        width: 60%;
    }
    #project-tools-list {
        display: flex;
        padding-left: 40px;
        width: 40%;
        flex-direction: column;
        justify-content: space-around;
    }
}

/*------------------------ Back button */
#Root{
 
}
#backToPorjectBar {
    position: fixed;
    background: blue;
    z-index: 10;
}

/*------------------------  */

/*#project-container div {
    background-color: rgba(0, 0, 0, 0.1);
}*/

#project-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/*------------------------  YouTube Video*/

#home-banner-box {
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 800px;
    height: 800px;
    flex-direction: column;
    background: red;
}
.loading .video-background {
    opacity: 1;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: 3s opacity ease;
    transition: 3s opacity ease;
    opacity: 1;
    overflow: hidden;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    min-height: 800px;
    pointer-events: none;
}

/*------------------------  COVER */

#project-coverPage {
    width: 100%;
    display: flex;
    border: 1px solid red;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .0));
}

#project-title {
    border: 1px solid red;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  
}

#project-titlesBox {
    height:200px;
}

#project-purpose {
    height: 200px;
    max-width: 500px;
}

/*------------------------ Brief Data Box */

#project-briefData {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
}

#project-section-insideBriefData {
    width: 100%;
    max-width: 1400px;
    display: flex;
    padding: 20px;
}

#project-sub-header-up {
    padding-bottom: 40px;
    padding-top: 40px;
}

#project-sub-header-down {
    display: flex;
    width: 100%;
    justify-content: space-between
}

/*---------------------------------------*/

#project-content-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.project-section-InsideContent {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-display-InsideSection {
    max-width: 1400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

/*------------------------------------------ Font Style*/

/* Cover page */

#project-coverPage h1 {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 120px;
}

#project-coverPage h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 30px;
}

#project-coverPage p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    font-size: 18px;
}

/*-------- project-briefData ---------------------*/

#project-briefData h1 {
    font-family: 'Barlow', sans-serif;
    color: rgb(80, 80, 80);
    font-size: 40px;
}

#project-briefData h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

#project-briefData p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    text-align: none;
    line-height: 1.5;
}

/*-------- text-box-display-InsideSection ---------------------*/

.project-text-box-display-InsideSection {
    color: rgb(80, 80, 80);
}

.project-text-box-display-InsideSection h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
}

.project-text-box-display-InsideSection h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

.project-text-box-display-InsideSection p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    max-width: 700px;
}

/*--------------------------------------------------------- Thank You For Watch */

#thankYouContainer {
    z-index: 1;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    color: white;
    padding: 5%;
    border: 1px solid red;
}

#thankYouContainer button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
    -webkit-transition: .5s color ease;
    transition: .5s color ease;
}

#thankYouContainer button:hover {
    color: rgb(255, 255, 255);
}

.thankYouBlock {
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#nextPrev {
    justify-content: space-around;
}

#thankYouContainer h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 80px;
    line-height: .9;
}

#thankYouContainer h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

#thankYouContainer p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
}

#thankYouContainer a {
    color: rgb(150, 150, 150);
    -webkit-transition: .5s color ease;
    transition: .5s color ease;
}

#thankYouContainer a:hover {
    color: rgb(255, 255, 255);
}