@media only screen and (orientation: portrait) {
    .video-background {
        display: none;
    }
    #imageCover {
        min-height: 600px;
    }
    #project-coverPage h1 {
        font-size: 80px;
    }
    #YouTubeBackgroundVideoPlayer {
        display: none;
    }
    #project-coverPage {
        height: 600px;
    }
    #project-title {
        width: 100%;
        padding-left: 20px;
    }
    #project-header {
        width: 100%;
    }
    #project-tools-list {
        display: none;
    }
    .youTube-InsideDisplay {
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    .video-background {
        display: flex;
    }
    #imageCover {
        min-height: 800px;
    }
    #project-coverPage h1 {
        font-size: 100px;
    }
    #YouTubeBackgroundVideoPlayer {
        display: flex;
    }
    #project-coverPage {
        height: 800px;
    }
    #project-title {
        width: 100%;
        padding-left: 150px;
    }
    #project-header {
        width: 60%;
    }
    #project-tools-list {
        display: flex;
        padding-left: 40px;
        width: 40%;
        flex-direction: column;
        justify-content: space-around;
    }
    .youTube-InsideDisplay {
        display: flex;
    }
}

/*------------------------ Back button */

#backToPorjectBar {
    cursor: pointer;
    position: fixed;
    z-index: 10;
    background-color: rgb(50, 50, 50);
    top: 0;
    width: 200px;
    height: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    transition: top 0.3s;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#backToPorjectBar:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

#backToPorjectBar h1 {
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
}

/*------------------------  */

/*#project-container div {
    background-color: rgba(0, 0, 0, 0.1);
}*/

#project-container {
    z-index: -2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*------------------------  YouTube Video*/

#background-youtube-video {
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 800px;
    background-color: black;
}

.video-background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imageCover {
    position: absolute;
    overflow: hidden;
}

#YouTubeBackgroundVideoPlayer {
    position: absolute;
    min-height: 800px;
    pointer-events: none;
    -webkit-animation-name: enter;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: enter;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */

@keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*------------------------  COVER */

#project-coverPage {
    width: 100%;
    display: flex;
    background-color: transparent;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .0));
}

#project-title {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#project-titlesBox {
    height: auto;
}

#project-purpose {
    height: 200px;
    max-width: 500px;
}

/*------------------------ Brief Data Box */

#project-briefData {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: white;
}

#project-section-insideBriefData {
    width: 100%;
    max-width: 1400px;
    display: flex;
    padding: 20px;
}

#project-sub-header-up {
    padding-bottom: 40px;
    padding-top: 40px;
}

#project-sub-header-down {
    display: flex;
    width: 100%;
}

.project-sub-header-block {
    text-align: center;
    width: 200px;
    margin-right: 20px;
}

/*---------------------------------------*/

#project-content-container {
    background: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.project-section-InsideContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-display-InsideSection {
    max-width: 1400px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

/*------------------------------------------ Font Style*/

/* Cover page */

#project-coverPage h1 {
    font-family: 'Barlow', sans-serif;
    color: white;
}

#project-coverPage h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 30px;
}

#project-coverPage p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    font-size: 20px;
}

/*-------- project-briefData ---------------------*/

#project-briefData h1 {
    font-family: 'Barlow', sans-serif;
    color: rgb(80, 80, 80);
    font-size: 40px;
}

#project-briefData h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

#project-briefData p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    text-align: none;
    line-height: 1.5;
}

/*-------- information-box-display-InsideSection ---------------------*/

.project-information-box-InsideDisplay img {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1400px;
    width: 100%;
}

.youTube-InsideDisplay {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 720px;
    width: 1280px;
}

.text-box-padding {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-information-box-InsideDisplay h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
}

.project-information-box-InsideDisplay h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}

.project-information-box-InsideDisplay p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.4;
    max-width: 700px;
}

/*--------------------------------------------------------- Thank You For Watch */

#thankYouContainer {
    z-index: 1;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    color: white;
    padding: 5%;
}

#thankYouContainer button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    color: rgb(150, 150, 150);
    -webkit-transition: .5s color ease;
    transition: .5s color ease;
}

#thankYouContainer button:hover {
    color: rgb(255, 255, 255);
}

.thankYouBlock {
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#nextPrev {
    justify-content: space-around;
}

#thankYouContainer h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 80px;
    line-height: .9;
}

#thankYouContainer h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

#thankYouContainer p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

#thankYouContainer a {
    color: rgb(150, 150, 150);
    -webkit-transition: .5s color ease;
    transition: .5s color ease;
}

#thankYouContainer a:hover {
    color: rgb(255, 255, 255);
}