body {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("https://res.cloudinary.com/dpnemhlg6/image/upload/v1550882488/david-background_kszbkl.png");

    display: inline-block;
    vertical-align: middle;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (orientation: portrait) {
    body {
        background-size: auto 100%;
        background-position: 60% 50%;
    }

    #homeArticle {
        justify-content: flex-start;
    }

    #home-message {
        max-width: 50%;
        margin-left: 10px;
        padding-top: 50px;
    }

    #homeArticle h1 {
        text-align: left;
        font-size: 80px;
    }

    #homeArticle p {
        text-align: left;
        line-height: 1.1;
    }

    #homeArticle h3 {
        color: white;
        text-shadow: 1px -2px 5px #98a6ac;
        font-size: 50px;
        line-height: .8;
    }

    #h-copy {
        color: white;
        font-size: 20px;
        line-height: .9;
    }

    #homeArticle span {
        /* font-size: 12px; */
    }

    #homeArticle .bolder {
        font-size: 30px;
    }

    #instaGrid-Holder {
        display: none;
        width: 100%;
    }

    #aboutArticle {
        max-width: 100%;
    }

    #aboutArticle h1 {
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #aboutArticle h2 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #aboutArticle p {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #about-jose-photo img {
        max-width: 250px;
        height: auto;
    }

    article {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }



    #contactArticle h1 {
        padding-top: 20px;
        font-size: 40px;
    }

    #contactArticle h2 {
        padding: 0;
    }

    #contactArticle p {
        padding: 0;
    }

    #contactArticle {
        height: 80%;
    }

    #clicking-photos {
        width: 150px;
        height: 150px;
    }

    #m-clicking {
        margin-left: 40px;
        margin-top: 40px;
        width: 80px;
        height: 80px;
    }

    #j-clicking {
        width: 150px;
        height: 150px;
    }

}

@media only screen and (orientation: landscape) {
    body {
        background-size: auto;
        background-position: 50% 50%;

    }

    #homeArticle {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #home-message {
        margin-top: 200px;
        max-width: 500px;
        margin-left: 25%;
    }

    #homeArticle h1 {
        text-align: left;
        font-size: 150px;
    }

    #homeArticle h3 {
        font-size: 80px;
        line-height: .7;
        color: white;
        text-shadow: 2px -5px 10px #98a6ac;
        transition: .2s ease-out;
        -webkit-transition: .2s ease-out;

    }

    #homeArticle h3:hover {
        text-shadow: 0px 0px 0px #98a6ac;
        line-height: 1;
    }

    #h-copy {
        font-size: 40px;
        line-height: .9;
        color: white;

    }


    #homeArticle span {
        /* font-size: 15px; */
    }

    #homeArticle .bolder {
        font-size: 50px;
    }

    #instaGrid-Holder {
        width: 1000px;
        display: flex;
    }

    #aboutArticle {
        max-width: 1400px;
    }

    #about-jose-photo img {
        max-width: 400px;
        height: auto;
    }

    #contactArticle {
        height: 70%;
    }

    #clicking-photos {
        width: 200px;
        height: 200px;
    }

    #m-clicking {
        margin-left: 60px;
        margin-top: 50px;
        width: 100px;
        height: 100px;
    }

    #j-clicking {
        width: 200px;
        height: 200px;
    }

    /*#thanks-photo img {
        width: 200px;
        height: 200px;
    }*/
}

.pagesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-top: 8%;
}

article {
    /*width:100%;
    max-width: 1000px;*/
    /*padding-bottom: 100px;*/
    /*height: 100%;*/
    /*display: flex;
    flex-direction: column;*/
    color: rgb(25, 25, 25);
}

/*---------------------------------------------------------*/

#email-contact {
    color: rgb(250, 250, 250);
}

#homeArticle {
    min-height: 500px;
    /*align-content: center;*/
    align-items: flex-start;
    color: rgb(25, 25, 25);
    height: 600px;
}

#home-message {
    display: flex;
    flex-direction: column;
}

#homeArticle h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
}

#h-copy {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
}


#homeArticle .bolder {
    font-family: 'Barlow', sans-serif;
}

/*--------------------------------- About ----------------------*/

.sectionBlock {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.text-inside-sectionBlock {
    width: 700px;
}

#rights {
    margin: 100px;
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 14px;
}

/*--------------------------------- About's Card set ----------------------*/
@media only screen and (orientation: portrait) {

    .cards-holder {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about-card:first-child {
        border-top: 1px solid #c8c8c8;
    }

    .about-card {

        border-bottom: 1px solid #c8c8c8;
        background: white;
        width: 100%;
        height: 110px;
        display: flex;
        margin-bottom: 0px;
        overflow: hidden;
    }

    .card-photo {
        display: none;
    }

    .card-icon {
        /*---------------------------- emty ICONS */

        display: flex;
        justify-content: center;
        align-items: center;
        background: white;

        width: 110px;
        height: 110px;
        overflow: hidden;


    }

    .card-icon img {
        /*---------------------------- emty ICONS */
        opacity: .5;
        width: 90%;

    }

    .card-info {
        width: 400px;

        display: flex;
        align-items: center;
    }

    .tools-icons {
        display: none;
    }

    .card-title {
        display: none;
    }

    .card-info p {
        width: 100%;
        font-size: 17px;
        text-align: left;
        line-height: 1;

    }

    .card-color-line {
        width: 10px;
        height: 110px;
    }
}

@media only screen and (orientation: landscape) {
    .cards-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 0px #afafaf;
    }

    .about-card:first-child {
        /*border-top: 1px solid #c8c8c8;*/
    }

    .about-card {
        border-bottom: 0px solid #c8c8c8;
        /*border-right: 1px solid #c8c8c8;*/
        /* background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(240, 240, 240, 1)); */
        border-radius: 50px 0px 0px 50px;
        background: white;
        width: 700px;
        height: 100px;
        /*xxxxxxxxxxxxxxxxxx*/
        display: flex;
        margin-bottom: 20px;
        overflow: hidden;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }

    .card-title {
        display: block;
        width: 700px;
        height: 300px;
        /* margin-left: 305px; */
        position: absolute;
        opacity: 1;
        /* background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(240, 240, 240, 1)); */
        background: transparent;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;


    }

    .card-title:hover {
        opacity: 0;
    }

    .card-title-screen {
        margin-left: 305px;
        display: flex;
        width: 400px;
        height: 300px;
        background: white;
        
    }

    .card-title-screen img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
        margin-left: 50px;
        opacity: .5;
        
    }

    .card-title-screen h2 {
        text-align: center;
        font-size: 18px;
        margin-left: 50px;
        color: gray;
    
    }

    .about-card:hover {
        height: 300px;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .card-photo {
        background: white;
        width: 300px;
        height: 300px;
        display: block;
    }

    .card-icon {
        margin-left: 600px;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .card-icon img {
        /*---------------------------- emty ICONS */
        opacity: .5;
        width: 50%;

    }

    .card-info {
        width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;

    }

    .card-info p {
        width: 350px;
        font-size: 17px;
        text-align: left;
        line-height: 1.2;


    }

    .tools-icons {
        margin-top: 20px;
        width: 350px;
        display: flex;
        flex-wrap: wrap;
    }

    .card-info :hover {
        opacity: 1;
    }

    .card-color-line {
        width: 5px;
        height: 300px;
    }
}

/*-------------*/

#about-jose-photo {
    /*display: flex;
    justify-content: center;
    margin-bottom: 20px;*/
}

#about-jose-photo img {
    /*max-width: 400px;
    height: auto;
    /*max-width: 424px;
    max-height: 500px;*/
}

#aboutArticle {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#instaGrid-Holder {
    justify-content: center;
    margin-bottom: 20px;
}

#insta-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#insta-grid img {
    border-radius: 0px;
    margin: 5px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    max-height: 250px;
}

/*-------------------------------------------------------*/

#contactArticle {
    position: absolute;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
}

.thankYouBlock {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#thanks-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

#clicking-photos {
    display: flex;
}

#j-clicking {
    position: absolute;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

#j-clicking:hover {
    opacity: 0;
}

#m-clicking {
    position: absolute;
    /*border-radius: 100px;*/
}

#contactArticle p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

/*--------------------------------*/

article h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

article h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
}

article h3 {
    /*font-family: 'Barlow', sans-serif;*/
    font-size: 18px;
    padding-bottom: 10px;
    color: rgb(150, 150, 150);
}

article p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify;
}

article img {
    padding: 0;
    margin: 0;
}

/*------------------------------------- Portfolio page */

.projects-sectionBlock {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-trigger {
    border-radius: 10px;
    background: transparent;
    width: 238px;
    height: 398px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    overflow: visible;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.tumbnail-text {
    position: absolute;
    display: flex;
    align-items: flex-end;
    background: red;
}


.project-trigger img {
    position: relative;
    opacity: 1;
    top: -42px;
    left: -57px;
    width: 350px;
}

.project-trigger:hover {
    /* height: 450px; */
    box-shadow: 0px 0px 30px rgb(80, 80, 100);
}